<div class="col-12">
  <div class="form-group">
    <label for="">User Name</label>
    <input type="text" class="form-control" #username />
  </div>
  <div class="form-group">
    <label for="">Email</label>
    <input type="text" class="form-control"  #email/>
  </div>
  <button class="btn btn-primary" (click)="numberFire(num)">Number Fires</button>
  <button [disabled]="username.value == '' && email.value == ''" class="btn btn-secondary form-control mt-2 mb-2" (click)="createUser(username.value,email.value); username.value = '' ; email.value=''">Add User</button>
</div>
